@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #77b5b8;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  background: #1f2828;
  color: white;
  flex-direction: row;
  font-size: 2.4rem;
}
.header > button {
  padding: 1em;
  color: white;
  border-radius: 0.9em;
  margin-right: auto;
  margin-left: 21em;
  border: transparent;
  background: #265a5c;
  font-size: 1.125rem;
  cursor: pointer;
}
.timerDate {
  margin-right: 1.5em;
}
.timerClock {
  margin-right: 5em;
}
.containerInputs {
  padding: 3em;
  display: inline-flex;
  align-items: center;
  background: #1b3c3e;
  border-radius: 2em;
  color: white;
  margin: 2em 0 3em 0;
  position: absolute;
  top: 50%;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .innerContainerInputs {
  display: flex;
  gap: 1em;
} */
.innerContainerInputs {
  display: flex;
  gap: 2em;
  align-items: center;
  flex-direction: column;
}
.innerContainerInputs > button {
  height: 5em;
  border: none;
  width: 17em;
  border-radius: 1em;
  background: #265a5c;
  color: white;
  cursor: pointer;
}
.tables {
  display: flex;
  padding: 2em;
  background: #a6aab3;
  border-radius: 2em;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.tables > label {
  margin-bottom: 1em;
}
textarea#taskDescription {
  border-radius: 6px;
  height: 100px;
  width: 300px;
  max-height: 100px;
  max-width: 300px;
  border-color: transparent;
}
input#taskTitle {
  height: 2em;
  width: 13em;
  border-radius: 0.4em;
  border-color: transparent;
}
.popupOpened:before {
  content: "";
  background: #02020299;
  position: absolute;
  width: 100%;
  z-index: 3;
  height: 100%;
}
.taskColumn::-webkit-scrollbar {
  width: 1em;
}

.taskColumn::-webkit-scrollbar-track {
  background-color: #f4f4f6;
  border-radius: 100px;
}

.taskColumn::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #265a5c;
}
@media only screen and (max-width: 1500px) {
  .tasksContainer {
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    flex-wrap: nowrap !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .header > button {
    margin-left: 2em;
  }
  .timerDate {
    margin-right: 1.5em;
  }
  .timerClock {
    margin-right: 2em;
  }
}
